a{
    text-decoration: none;
}
/*whole background contaioner of cover*/
.background-cover{
    position:relative;
}
/*nav bar div*/
.nav-bar{
    font-size: xx-large;
    color: aliceblue;
    position:relative;
    z-index: 2;
}
/*nav bar list*/
.nav-bar li{
    display: inline-block;
    padding-right: 6%;
    background-color:black;
}
ul{
    list-style-type: none;
    background-color: black;
   
}
/*background image*/
.img{
    position: absolute;
}
.cover{
    object-fit: cover;
    width: 100%;
    height: 10%;
}
/*profile image*/
.profile-img{
    margin-top:48%;
    position: relative;
}
.profile-img img{
    border-radius: 100%;
   
}

/*about me designs*/
.container{
    margin-top: 4%;
}
.topic{
     font-style: normal;
     font-family: 'Courier New', Courier, monospace;
}
.aboutme-description{
    margin-top: 2%;
    padding: 20px;
    background-color: cadetblue;
    border-style: 100px solid cadetblue;
    border: outset;
    font-style: oblique;
}
/*projects*/
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  