.container{
    margin: 10px;
    text-align: center;
    background-color: black;
    padding-top: 30px;
    border: 1px solid lightblue;
    margin-top: 90px;
}
.row{
    padding: 3px;
}
.button{
    border: none;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    color: black;
    background-color: lightblue;
    font-size: 30px;
    border-style: outset 30px;
    cursor: pointer;
}
h1{
    text-align: center;
    color: greenyellow;
}
.input{
    width: 100%;
    height: 200px;
    font-size: 30px;
    color: white;
    background-color: black;
    border: none;
}
body{
    background-color: black;
}
#special{
    background-color: green;
    color: white;
}
#sign{
    color: green;
}