/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Header styles */
header {
  background-color: #232f3e;
  padding: 20px;
  color: #fff;
}

header h1 {
  font-size: 32px;
}

/* Navigation styles */
nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

/* Main section styles */
main {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

/* Movies section styles */
.movies {
  margin-bottom: 40px;
}

.movies h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.movie {
  text-align: center;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.movie:hover {
  transform: translateY(-5px);
}

.movie img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.movie h3 {
  font-size: 18px;
  padding: 10px;
  color: #333;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
a{
  text-decoration: none;
}
.live-stream-container {
            max-width: 800px;
            margin: 0 auto;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }

        .live-stream-container iframe {
            width: 100%;
            height: 400px;
            border: none;
            border-radius: 8px 8px 0 0;
        }

        .live-stream-description {
            padding: 16px;
            background-color: #f8f8f8;
            border-radius: 0 0 8px 8px;
        }

        .live-stream-title {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }

        .live-stream-description p {
            font-size: 16px;
            color: #666;
            line-height: 1.6;
        }
