.container {
	max-width: 640px;
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
}

.margin-bottom {
	150px;
}

.comment {
	display: block;
	transition: all 1s;
}

.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}

textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}

button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}

button.primaryContained:hover {
	background: #9201A8;
}


section.head{
				font-size:30px;
				margin-right:px;
				margin-left:px;
				width:180px;
				float:left;
}
section.leg{
         float:right;
         width:95px;
}
.lower{
				font-size:25px;
}
 .responsive{
				height:auto;
				width:auto;
}
		
.child{
				padding:16px;
}	

.left
{
    
    width:165px;
    height:auto;
    border: 1px solid grey;
    float:left;
    margin-left:25px;
    margin-bottom:40px;
    text-align:left;
}

.right
{
    margin-right:25px;
    width:165px;
    height:auto;
    float:right;
    border: 1px solid grey;
    margin-bottom:40px;
    text-align: left;
    
}
.name{
				font-weight:bold;
				font-size:11px;
				margin-bottom:px;
				
}
a{
				text-decoration: none;
				margin-top:1px;
				col
}
.movies{
				background-color:skyblue;
				color:white;
				width:350px;
				margin-left:25px;
}
.frame{
    
    height:1050px;
}
.menu{
  height:auto;
  width:200px;
  margin-top:1px;
  position:top right;
  font-family:'Courier New', monospace;
}
.fixed{
  position:fixed;
  background-color:skyblue;
}
.notes{
  background-color:#FF95CCFF;
}
#notes{
  padding:10px;
  
}


