
/* top heading */
section.head{
				font-size:30px;
				margin-right:px;
				margin-left:px;
				width:180px;
				float:left;
}
/* menu in side */
section.leg{
         float:right;
         width:95px;
}

.lower{
				font-size:25px;
}

/* link css */
a{
				text-decoration: none;
				margin-top:1px;
				color:black;
}

.movies{
				background-color:skyblue;
				color:white;
				width:350px;
				margin-left:25px;
}
.frame{
    
    height:1050px;
}
.menu{
  height:auto;
  width:200px;
  margin-top:1px;
  position:top right;
  font-family:'Courier New', monospace;
}
.fixed{
  position:fixed;
  background-color:skyblue;
}
.notes{
  background-color:#FF95CCFF;
}
#notes{
  padding:10px;
  padding:25px;
  
}
				
div.footer{
				border-bottom:1px solid gray;
				border-left: 1px solid gray;
				border-right:1px solid gray ;
			  text-align:center;
}
div.holder{
      
     
     padding:5px;
     

}
div.LHS{
		
			margin:5px;
			height:470px;
		 float: left;
}
img.pic{
				width:300px;
				height:400px;
}

div.heading{
  width:100%;
}
div.space{
				padding:20px;
			  
}
button#email{
				width:150px;
				height:auto;
				background-color:skyblue;
				border:none;
				border-style:outset;
				border-radius:7px;
				text-align:center;
				margin-left:38%;
				
}
button#loader{
				width:100%;
				height:35px;
				background-color:skyblue;
				border:none;
				border-style:outset;
				border-radius:7px;
				text-align:center;
				margin-left:;
				color:whitesmoke;
				font-size:20px;
	}

/* for mobile device */

@media only screen and (max-width: 600px) {
/* footer of div */
div.footer{
				border-bottom:1px solid gray;
				border-left: 1px solid gray;
				border-right:1px solid gray ;
			  text-align:center;
			  width:170px;
}
div.holder{
      
     
     align-items:center;
     padding-left:20px;

}
div.LHS{
		
		  
			height:340px;
			float:left;
}
img.pic{
				width:170px;
				height:270px;
}
a{
				text-decoration: none;
				margin-top:1px;
				color:black;
				font-size:9px;
}
}
/* for little smaller device */
@media only screen and (max-width: 400px) {
		div.footer{
				border-bottom:1px solid gray;
				border-left: 1px solid gray;
				border-right:1px solid gray ;
			  text-align:center;
			  width:150px;
}
div.holder{
      
     
     align-items:center;
     padding-left:20px;

}
div.LHS{
		
		
			height:340px;
			float:left;
}
img.pic{
				width:150px;
				height:250px;
}
a{
				text-decoration: none;
				margin-top:1px;
				color:black;
				font-size:9px;
}		
}