section.head{
				font-size:30px;
}
.lower{
				font-size:25px;
}
 .responsive{
				height:auto;
				width:auto;
}
		
.child{
				padding-top:0px;
}	

.left
{
    
    width:165px;
    height:auto;
    border: 1px solid grey;
    float:left;
    margin-left:25px;
    margin-bottom:40px;
    text-align:left;
}

.right
{
    margin-right:25px;
    width:165px;
    height:auto;
    float:right;
    border: 1px solid grey;
    margin-bottom:40px;
    text-align: left;
    
}
.name{
				font-weight:bold;
				font-size:11px;
				margin-bottom:px;
				
}
a{
				text-decoration: none;
				margin-top:1px;
                                color:black;
}
.movies{
				background-color:skyblue;
				color:white;
				width:350px;
				margin-left:25px;
}
